/* section-body colors */
$section-dark: #000000;
$section-light: #f5f5f2;
$section-white: #ffffff;

/* font colors */
$font-light-one: #ffffff;
$font-light-two: #f5f5f2;
$font-light-three: #979797;

/* other colors in use */
$color-A: #8DBEC8;
$color-B: #f58220;
$color-C: #71B374;

/* font sizes */
$basic-size: 14px;
$bigger-size-one: 16px;
$bigger-size-two: 18px;