.btn {
  height: 30px;
  margin: 5px;
  width: 90px;
  background-color: $color-B;
  border: none;
  border-radius: 2px;
  color: $font-light-one;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 5px;
}