.btn {
  height: 30px;
  margin: 5px;
  width: 90px;
  background-color: grey;
  border: none;
  border-radius: 3px;
  color: grey;
  &:hover {
    background-color: none;
  }
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 5px;
}